.header-box {
    position: fixed;
    left: 0px;
    top:0px;
    height:fit-content;
    width: 100%;
    display:inline-flex;

    background-color: white !important;

    flex: none;
    order: 0;
    flex-grow: 0;
    /* align-items: flex-start; */


}

.logo-box {
    /* flex-grow: 8; */
    width: 114px;
    height: 114px;
    flex: 80%;
    align-items: flex-start;
    text-align: left;
}

.account-info-box {
    /* flex-grow: 1; */
    flex: 20%;
    align-items: flex-end;
}

.images {
    width:40px  !important;
    height: 40px  !important;
    /* display:block; */
    /* object-fit: cover !important; */
    object-fit: scale-down !important;
    border: 0px;
}

.logo-image {
    width:114px;
    height: 114px;
    display:block;
    /* object-fit: cover !important; */
    object-fit: scale-down !important;
    border: 0px;
}

.buttons {
    background-color: white;
    border: 0px;
    cursor:pointer;
}
