.header-box {
    position: fixed;
    left: 0px;
    top:0px;
    height:fit-content;
    width: 100%;
    display:inline-flex;

    background-color: white !important;

    flex: none;
    order: 0;
    flex-grow: 0;


}

.logo-box {
    width: 114px;
    height: 114px;
    flex: 80%;
    align-items: flex-start;
    text-align: left;
}

.account-info-box {
    flex: 20%;
    align-items: flex-end;
}

.images {
    width:40px  !important;
    height: 40px  !important;
    object-fit: scale-down !important;
    border: 0px;
}

.logo-image {
    width:114px;
    height: 114px;
    display:block;
    object-fit: scale-down !important;
    border: 0px;
}

.buttons {
    background-color: white;
    border: 0px;
    cursor:pointer;
}
