@import "@font/nunito";

.donation-card {
    font-family: var(--fontFamily-nunito);

    width: 512px;
    height: 201px;
    display: flex;
    background-color: #d7d7d7;

    box-shadow: 0px 0px 2px #7B61FF;
    border-radius: 20px;

    margin-bottom: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.active {
    background-color: #8ff862 !important;
}

.donation-group {
    flex: 80%;
    width: 414px;
    height: 130px;
    line-height: 12px;
    text-align: left;
    padding-left: 30px;
}

.donation-place {
    font-size: 18px;
    line-height: 15px;

}

.donation-product {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 20px;

    margin-top: 0px;
    margin-bottom: 0px;
    
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.product-quantity {
    font-size: 18px;
    line-height: 15px;
    opacity: 50%;
}

.button-div {
    padding-left: 20px;;
}
.donate-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #226B03;
    border-radius: 20px;
    border: 0px;

    font-size: 18px;
    cursor:pointer;
    color: #ffffff;

    font-weight: bold;

    
}

.confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #226B03;
    border-radius: 20px;
    border: 0px;

    font-size: 18px;
    cursor:pointer;
    color: #ffffff;

    font-weight: bold;
}

.inactive-button {
    background-color: #d7d7d7 !important;
    border:0px;

    cursor:auto;
}

.delete-button {
    cursor: pointer;
    color: white;
    background-color: black;
}

.donation-notif {
    background-color: transparent;
    border: 0px;
    padding-top: 30px;
    align-items: center;
    
}
.notif-icon {
    width: 40px !important;
    height: 40px !important;
    padding: 0px;
    background-color: transparent;

    cursor:pointer;
    border: 0px;
}


.inactive-notif {
    opacity: 50%;
}

.confirmed-donate {
    border: 0px;
    color: black;
    cursor: auto !important;
}

.unconfirmed-donate {
    border:0px;
    background-color:#8ff862;
    color: black;
    cursor: auto !important;
}


